<%#= render '/refinery/content_page' %>
<style>
#title {color:#3498db;margin:10px 0;}
#title a{color:#777777;}
</style>
<div class="container">
<section id='title' class="pull-right">
  <%= link_to "首页", '/' %>
  <% if !path_map.nil? %>
      <% path_map.each do |pathitem| %>
          <% if pathitem.id == @page.id %>
              >
              <% if pathitem.menu_title.nil? || pathitem.menu_title == ""  %>
                  <%= pathitem.title %>
              <% else %>
                  <%= pathitem.menu_title %>
              <% end %>
          <% else %>
              >
              <% if pathitem.menu_title.nil? || pathitem.menu_title == ""  %>
                  <%= link_to pathitem.title, pathitem.url %>
              <% else %>
                  <%= link_to pathitem.menu_title, pathitem.url %>
              <% end %>
          <% end %>
      <% end %>
  <% end %>
</section>
</div>
<div style="clear:both;"></div>
<%=raw @page.content_for(:body) %>
</section>

