<head>
  <title>曲阳县大自然石材有限公司</title>
  <%= render "/refinery/head" %>
  <%= render "/refinery/javascripts" %>
  <meta name="author" content="www.frebsite.nl" />
  <meta name="viewport" content="width=device-width initial-scale=1.0 maximum-scale=1.0 user-scalable=yes" />
  <%=csrf_meta_tags%>

</head>
<body id="<%= canonical_id @page %>">

<div>
  <div id="header">
    <%= render "/refinery/header" %>
  </div>

   <div id="page" style="padding-top:80px ">
     <%= yield %>
   </div>

</div>

</body>
</html>

